/**
ORIGINAL AUTHOR AND INFORMATION
 * @name Diskette
 * @author vozy
 * @version 06.24-v5b
 * @description A terminally-ill Discord theme inspired by the Spotify-Tui theme
**/

/* -----------------------------------------------------------------------------------------------------------------------

Version notes:

 ############# Version 06.24 Beta 8 ################

- Out of Alpha stages, into Beta stages. 
   1. This is mostly ready usage but not completely finished
   2. Somethings are broken, some things aren't covered.
   3. Please report everything you see wrong. I also accept pull requests most of the time.
   4. Penis. Penis Penis Penis. Peeeenis. Penis. LMAO. PENIS. COCK! BALLS!!! BAllls!!!! ballsalaslLl!!! 
Daedreus notes
 - Added the colour customization inside so users dont need to add it themself.
 - CHanged colours 
   - Backgroudn is now a deep blue/black
   - Accents are a light blue
   - border hovers are a light purple 
 - Moved the settings mute and deafen buttons under your server list(s) Works with better folders plugins
 - Centered the profile icon
 ----------------------------------------------------------------------------------------------------------------------- */

/*
   _    ____  _     _        _   _               __             __
  | |  |  _ \(_)___| | _____| |_| |_ ___         \ \           / /
 / __) | | | | / __| |/ / _ \ __| __/ _ \         \ \         / / 
 \__ \ | |_| | \__ \   <  __/ |_| ||  __/_ _ _    / /         \ \ 
 (   / |____/|_|___/_|\_\___|\__|\__\___(_|_|_)  /_/   _____   \_\
  |_|                                                 |_____|     
*/


/* -- ▼▼▼ DO NOT TOUCH ▼▼▼ -------------------------------------------------------------------------------------------------------------------- */ 

/* 🚫🚫🚫 Base Theme - Do NOT Eject - Literally notheme 🚫🚫🚫 */
@import url('https://slippinggittys-discord-themes.github.io/Diskette/User/Vozy/Documents/source files/base.css');

/*  🔌🔌🔌 Diskette Plugin - Do NOT Eject 🔌🔌🔌 */
@import url('https://raw.githubusercontent.com/drakosoldier298/DisketteDae/main/User/Vozy/Documents/source files/everything else/selectors.css');

/* -- ▲▲▲ DO NOT TOUCH ▲▲▲ -------------------------------------------------------------------------------------------------------------------- */
/* x-x-x-x-x Font x-x-x-x-x */
@import url('https://slippinggittys-discord-themes.github.io/Diskette/User/Vozy/Documents/goodies/Fonts/DM Mono.css');


/* [][][][][][] Fancy Window Title Headers [][][][][][] */
@import url('https://slippinggittys-discord-themes.github.io/Diskette/User/Vozy/Documents/source files/everything else/border headers.css');

/* 3-2-1-c-b-a Icons a-b-c-1-2-3 */
@import url('https://slippinggittys-discord-themes.github.io/Diskette/User/Vozy/Documents/goodies/Icons/Clarity.css');



/* - [] x WinButtons - [] x */
@import url('https://slippinggittys-discord-themes.github.io//Diskette/User/Vozy/Documents/source files/everything else/winbuttons.css');

/* >>>>>> Window Padding <<<<<<< */
:root {
  --pad: 20px;
}

:root {
  --projectCabBackground: rgb(0, 0, 0);
  --projectCabBackground2: var(--projectCabBackground);
  --projectCabTextBackground: var(--projectCabBackground);
  --projectCabTitleBar: var(--projectCabBackground);
  --projectCabHover: var(--accent-focused);
}

/* Accents */
:root {
  --accent: rgb(71, 178, 202);
  --accent-hover: rgb(124, 124, 124, 0.977);
  --accent-selected: rgb(49, 49, 49);
  --accent-focused: rgb(49, 49, 49);
  --borders: rgb(52, 52, 52) 1px solid;
  --bordersH: rgb(154, 115, 227);
  --bordersW: rgb(154, 115, 227);
}

/* /* Color Scheme */
@import url('https://slippinggittys-discord-themes.github.io/Diskette/User/Vozy/Documents/goodies/Color Schemes/Default.css');

/* removes the "centered" look for the settings menu  */
[class*="sidebarRegion"] {
  flex: none;
}

[class*="item"] {
  padding: unset;
}

[class*="contentColumn"] {
  max-width: none;
}
/* fix the activity borders */

[class*="panels_"] [class*="wrapper_"]{
  border: var(--borders);
  max-height: 200px;
  max-width: 228px;
  left: 5px;
}
/* Move settings under server list(s) */

[class*="panels_"] [class*="avatarWrapper_"] + div {
  position: fixed;
  left: 0px;
  bottom: 40px;
  align-items: center;
  margin-left: 30px;
  height: 50px;
  border: var(--borders);
}

.guilds_a4d4d9 {
  margin-bottom: 55px;
}

/* Center profile button */
[class*="panels_"] [class*="avatarWrapper_"]{
    position: fixed;
  left: 230px;
  bottom: 220;
  align-items: center;
  margin-left: 0;
  
}

/* Pin home button */
.tutorialContainer__890ea {
  position: fixed; top: 22px;
  z-index: 1;
  background: linear-gradient(var(--background-tertiary) 100%, transparent);
}
.guilds__2b93a .scroller__3d071 { contain: none !important; padding-top: 60px;}

/* jump to present */
div[class^=jumpToPresentBar] {
  bottom: 10px;
  left: 10px; 
  right: unset;
  border-radius: 0px 8px 0px 0px;
  background-color: var(--channeltextarea-background);
  > button[class^=barButtonMain] {
    flex: 0 0 auto;
    display: none;
  }
}
